//Colors
$dark-red:#180b0b;
$white:#fff;
$dark-grey:#2e2e2e;
$light-dark:#171718;
$red:#f00606;
$green:#13c783;
$gray-blue:#222531;
$light:#e2e2e2;


//Variables

//---Global---
$body-background-color:$dark-red;
$global-text-color:$white;


//---Coins-List--
$coins-row-border-color:$dark-grey;
$coins-row-background-hover-color:$light-dark;
$coins-red:$red;
$coins-green:$green;

//---Search-bar---
$search-bar-backround:$gray-blue;
$search-bar-input-color:$light;